html {
    height: 100%;
}

h1, h2 {
    font-family: 'Lexend Deca', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.is-overlay-absolute {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.85;
    background-size: cover;
    overflow: hidden;
    z-index: 100;
}

.overlay {
    position: absolute;
    background-color: #cfc5bc;
    opacity: 0.5;
    width: 50vw;
    height: 300%;
    transform: rotateZ(35deg);
    bottom: -110px;
    right: 0px;
    z-index: 110;
}

.menu a {
  color: #cfc5bc;
}

.hero-full-screen {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("/img/code-pic.jpg") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    z-index: 120;
    text-align: left;
    color: #fefefe;
    position: absolute;
    bottom: 45%;
    width: 50%;
  }
  
  .hero-full-screen .top-content-section {
    z-index: 200;
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    z-index: 200;
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
    display: block;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }

  #icon-wrapper {
    display: flex;
    background-color: #082d3a;
    width: 40px;
    height: 40px;
    justify-content: center;
    padding-top: 12px;
    border-radius: 50%;
  }
  
  .hero-full-screen .top-bar .menu li {
    width: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .anchor-tag {
    display: flex;
    color: #cfc5bc;
    width: 100px;
    background-color: #082d3a;
    text-align: center;
    margin-top: 5px;
    margin-left: 8px;
    border-radius: 5px;
  }

  .anchor-tag a {
    z-index: 500;
  }

  .txt {
    color: #a7b8b5;
  }

  .txt:after {
    content: '|';
    font-weight: 100;
    font-size: 100%;
    animation: .7s blink steps(10) infinite alternate;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #fff;
    }
    100% {
      color: transparent;
    }
  }

  .show-for-medium .top-bar {
    background-color: #082d3a;
  }

  .show-for-medium .top-bar .menu {
    background-color: #082d3a;
  }

  .show-for-medium .top-bar .menu a {
    color: #cfc5bc;
  }

  .show-for-medium .top-bar .menu a:hover {
    background-color: #267491;
    color: #a7b8b5;
  } 

  .grid-container {
    grid-template-areas: 
    'img'
    'skills';
    margin-bottom: 1.5em;
  }

  .title-section {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }

  #about {
    margin: 0 auto 1em auto;
    border-bottom: solid 2px black;
    width: 100px;
    height: 60px;
  }

  .pic-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    grid-area: 'img';
  }

  #circle-pic {
    align-self: center;
    margin-bottom: 1.5em;
  }

  .profile-pic {
    width: 25em;
    align-self: center;
    margin-bottom: 1.5em;
    overflow: hidden;
  }

  .circle {
    display:flex;
    width: 80px;
    height: 80px;
    border-radius: 12%;
    color: #cfc5bc;
    overflow: hidden;
  }

  .animate {
    opacity: 0;
    transition: all 1.5s;
  }

  .animate.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  .css, .sass {
    transform: translateX(30%) scale(0.95);
  }

  .html, .js, .git {
    transform: translateX(-30%) scale(0.95);
  }

  .skills {
    display: flex;
    flex-direction: column;
    grid-area:'skills';
  }

  .flexwrapper-left,
  .flexwrapper-right {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    
  }

  .flexwrapper-right {
    justify-content: flex-end;
    margin-right: 20%;
  }
  
  .flexwrapper-left {
    justify-content: flex-start;
    margin-left: 20%;
  }

  .skill {
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 25px;
  }

  .project-section {
    color: #082d3a;
    background-color: #cfc5bc;
  }

  #projects {
    margin: 0 auto 1em auto;
    border-bottom: solid 2px #082d3a;
    width: 100px;
    height: 60px;
  }

  .grid-padding-x>.cell {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.card-style {
  border-radius: 10px;
  background-color: #cfc5bc;
  position: relative;
}

.bottom-margin-project {
  margin-bottom: 3em;  
}

.card-overlay {
  text-align: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%; 
  transition: 400ms ease-in-out;
}

.card-overlay:hover {
  opacity: 0.8;
  background-color: #082d3a;
  color: #cfc5bc;
}

.button {
  background-color: #267491;
}

.button:hover {
  background-color: #a7b8b5;
  color: #082d3a;
}

.contact-section {
  background-color: #082d3a;
  height: 50vh;
  color: #a7b8b5;
}

#contact {
  margin: 0 auto;
  border-bottom: solid 2px #a7b8b5;
  width: 100px;
  height: 60px;
}

.Modal {
  background-color: #082d3a;
  text-align: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
  
.address {
  margin-top: 2em;
  text-align: center;
}

.social {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.sociallink {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: row;
  margin: 1em .5em;
}
  @media(width:768px) {
    .grid-container {
      grid-template-areas: 
      'img skills';
    }
  }
 