html {
    height: 100%;
}

h1, h2 {
    font-family: 'Lexend Deca', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.is-overlay-absolute {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.85;
    background-size: cover;
    overflow: hidden;
    z-index: 100;
}

.overlay {
    position: absolute;
    background-color: #cfc5bc;
    opacity: 0.5;
    width: 50vw;
    height: 300%;
    transform: rotateZ(35deg);
    bottom: -110px;
    right: 0px;
    z-index: 110;
}

.menu a {
  color: #fff;
}

.hero-full-screen {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("/img/code-pic.jpg") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    z-index: 120;
    text-align: left;
    color: #fefefe;
    position: absolute;
    bottom: 45%;
    width: 50%;
  }
  
  .hero-full-screen .top-content-section {
    z-index: 200;
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    z-index: 200;
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
    display: block;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }

  #icon-wrapper {
    display: flex;
    background-color: black;
    width: 40px;
    height: 40px;
    justify-content: center;
    padding-top: 12px;
    border-radius: 50%;
  }
  
  .hero-full-screen .top-bar .menu li {
    width: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .anchor-tag {
    display: flex;
    color: #fefefe;
    width: 100px;
    background-color: black;
    text-align: center;
    margin-top: 5px;
    margin-left: 8px;
    border-radius: 5px;
  }

  .anchor-tag a {
    z-index: 500;
  }

  .txt {
    color: #a7b8b5;
  }

  .txt:after {
    content: '|';
    font-weight: 100;
    font-size: 100%;
    animation: .7s blink steps(10) infinite alternate;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #fff;
    }
    100% {
      color: transparent;
    }
  }

  .show-for-medium .top-bar {
    background-color: #082d3a;
  }

  .show-for-medium .top-bar .menu {
    background-color: #082d3a;
  }

  .show-for-medium .top-bar .menu a {
    color: #cfc5bc;
  }

  .show-for-medium .top-bar .menu a:hover {
    background-color: #267491;
    color: #a7b8b5;
  } 

  .grid-container {
    grid-template-areas: 
    'img'
    'skills';
    margin-bottom: 1.5em;
  }

  .title-section {
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
  }

  .pic-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    grid-area: 'img';
  }

  #circle-pic {
    align-self: center;
    margin-bottom: 1.5em;
  }

  .profile-pic {
    width: 25em;
    align-self: center;
    margin-bottom: 1.5em;
    overflow: hidden;
  }

  .circle {
    display:flex;
    width: 80px;
    height: 80px;
    border-radius: 12%;
    color: #cfc5bc;
    margin-bottom: 5px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    grid-area:'skills';
  }

  .flexwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
  }

  .skill {
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 25px;
  }

  .progress {
    height: 25px;
    width: 50%;
    margin-left: 10px;
    align-self: center;
    color: #cfc5bc;
  }

  .progress-meter {
    background-color: #082d3a;
    animation-fill-mode:both; 
    animation: progressBar 3s ease-in-out;
  }

  #value1 {
    animation: progressBar 3s ease-in-out;
  } 
  
  #value2 {
    animation: progressBar1 3s ease-in-out;
  }
  
  #value3 {
    animation: progressBar2 3s ease-in-out;
  }
  
  #value4 {
    animation: progressBar3 3s ease-in-out;
  }
  
  #value5 {
    animation: progressBar4 3s ease-in-out;
  }

  .progress-meter-text {
    color: #cfc5bc;
  }

  .project-section {
    background-color: #cfc5bc;
  }

  .flexwrapper:first-child {
    margin-top: 30px;
  }

  /* Animations section About */
  @keyframes progressBar {
    0% { width: 0; }
    100% { width: 85%; }
  }
  
  @keyframes progressBar1 {
    0% { width: 0; }
    100% { width: 90%; }
  }

  @keyframes progressBar2 {
    0% { width: 0; }
    100% { width: 50%; }
  }

  @keyframes progressBar3 {
    0% { width: 0; }
    100% { width: 40%; }
  }

  @keyframes progressBar4 {
    0% { width: 0; }
    100% { width: 60%; }
  }
  /* Animations section About */



  @media(width:768px) {
    .grid-container {
      grid-template-areas: 
      'img skills';
    }
  }
 